@model Buildoc.Models.Inspeccion

@{
    Layout = null;
}
<style>

    .dl-horizontal dt {
        font-weight: normal; /* Quita la negrita del texto */
        font-size: 0.9em; /* Reduce el tamaño de la fuente */
    }

    .dl-horizontal dd {
        font-size: 0.9em; /* Reduce el tamaño de la fuente */
        color: #6c757d; /* Aplica la clase text-muted */
    }

</style>

    <div class="row">
        <!-- Columna Izquierda (Datos de la Inspección) -->
        <div class="col-md-6">
   

          
                <div class="card-body">
                    <dl class="row mb-0">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.FechaInspeccion)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.FechaInspeccion)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Objetivo)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Objetivo)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Descripcion)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Descripcion)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.TipoInspeccion)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.TipoInspeccion.Descripcion)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Inspector)</dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Inspector.NombreCompleto)
                            <small>(@Html.DisplayFor(model => model.Inspector.Email))</small>
                        </dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Estado)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Estado)</dd>
                    </dl>
        
        </div>
        </div>
        <!-- Columna Derecha (Datos del Proyecto) -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h6 class="text-primary"><i class="fas fa-info-circle"></i> Detalles del proyecto</h6>

                <dl class="row mb-0 dl-horizontal">
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Proyecto)</dt>
                    <dd class="col-sm-8 text-muted">@Html.DisplayFor(model => model.Proyecto.Nombre)</dd>
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Proyecto.Departamento)</dt>
                    <dd class="col-sm-8 text-muted">@Html.DisplayFor(model => model.Proyecto.Departamento)</dd>
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Proyecto.Municipio)</dt>
                    <dd class="col-sm-8 text-muted">@Html.DisplayFor(model => model.Proyecto.Municipio)</dd>
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Proyecto.Direccion)</dt>
                    <dd class="col-sm-8 text-muted">@Html.DisplayFor(model => model.Proyecto.Direccion)</dd>
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Proyecto.Cliente)</dt>
                    <dd class="col-sm-8 text-muted">@Html.DisplayFor(model => model.Proyecto.Cliente)</dd>
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Proyecto.Descripcion)</dt>
                    <dd class="col-sm-8 text-muted">@Html.DisplayFor(model => model.Proyecto.Descripcion)</dd>
                </dl>


                </div>
            </div>
        </div>
    </div>
