@model IEnumerable<Buildoc.Models.Seguimiento>
@{
	var incidenteId = ViewBag.IncidenteId;
}
<!-- Timelime example  -->
<div class="row">
	<div class="col-md-12">
		<!-- The time line -->
		<div class="timeline">
			@foreach (var seguimiento in Model)
			{
				<!-- timeline time label -->
				<div class="time-label">
					<span class="bg-red">@seguimiento.FechaCreacion.ToString("dd/MM/yyyy")</span>
				</div>
				<!-- /.timeline-label -->
				<!-- timeline item -->
				<div>
					<i class="fas fa-envelope bg-blue"></i>
					<div class="timeline-item">
						<span class="time"><i class="fas fa-clock"></i> @seguimiento.FechaCreacion.ToString("HH:mm")</span>
						<h3 class="timeline-header"><a href="#">@seguimiento.Usuario.Email</a> @seguimiento.Titulo</h3>
							@seguimiento.Descripcion
						<div class="timeline-body">
						</div>
					</div>
				</div>
			}
		</div>
		<a asp-controller="Seguimientoes" asp-action="Create" asp-route-incidenteId="@incidenteId" class="btn btn-primary mt-3">
			Añadir Seguimiento
		</a>
	</div>
</div>