@model Buildoc.Models.Incidente

@{
    ViewData["Title"] = "Details";

}

<h1>Detalles</h1>

<div>
    <h4>Incidente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaIncidente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaIncidente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoraIncidente)
        </dt>
        <dd class="col-sm-10">
            @if (Model.HoraIncidente.HasValue)
            {
                @Model.HoraIncidente.Value.ToString("HH:mm")
            }
            else
            {
                <span>Se desconoce la hora</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Estado)
            {
                <span>Activo</span>
            }
            else
            {
                <span>Inactivo</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proyecto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proyecto.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sugerencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sugerencia)
        </dd>
    </dl>
    <h4>Tipo de incidente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoIncidente.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoIncidente.Categoria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoIncidente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoIncidente.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoIncidente.Gravedad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoIncidente.Gravedad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoIncidente.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoIncidente.Descripcion)
        </dd>
    </dl>
    <h4>Afectados</h4>
    <hr />
    @if (Model.Afectados != null && Model.Afectados.Any())
{
    <ul>
        @foreach (var afectado in Model.Afectados)
        {
            @if (!string.IsNullOrEmpty(afectado.Nombre) && !string.IsNullOrEmpty(afectado.Apellido))
            {
                <li>
                    <strong>Cédula:</strong>
                    @if (afectado.Cedula.HasValue)
                    {
                        @afectado.Cedula
                    }
                    else
                    {
                        <span>No disponible</span>
                    }
                </li>
                <li>
                    <strong>Nombre completo:</strong> @($"{afectado.Nombre} {afectado.Apellido}")
                </li>
                <li>
                    <strong>Correo electrónico:</strong>
                    @if (!string.IsNullOrEmpty(afectado.CorreoElectronico))
                    {
                        @afectado.CorreoElectronico
                    }
                    else
                    {
                        <span>No disponible</span>
                    }
                </li>
                <li>
                    <strong>Genero del afectado:</strong>
                    @if (!string.IsNullOrEmpty(afectado.GeneroAfectado))
                    {
                        @afectado.GeneroAfectado
                    }
                    else
                    {
                        <span>No disponible</span>
                    }
                </li>
                <li>
                    <strong>El afectado está muerto:</strong>
                    @if (afectado.Defuncion)
                    {
                        <span>Sí</span>
                    }
                    else
                    {
                        <span>No</span>
                    }
                </li>
                <li>
                    <strong>El afectado es un trabajador:</strong>
                    @if (afectado.AsociadaProyecto)
                    {
                        <span>Sí</span>
                    }
                    else
                    {
                        <span>No</span>
                    }
                </li>
                <li>
                    <strong>¿Se brindaron primeros auxilios?:</strong>
                    @if (afectado.PrimerosAuxilios)
                    {
                        <span>Sí</span>
                    }
                    else
                    {
                        <span>No</span>
                    }
                </li>
                <li>
                    <strong>Tuvieron que hospitalizar al afectado:</strong>
                    @if (afectado.Hospitalizado)
                    {
                        <span>Sí</span>
                    }
                    else
                    {
                        <span>No</span>
                    }
                </li>
                    @if(afectado.AbrasionRasgunos && afectado.Hernia && afectado.Amputacion && afectado.ConmocionCerebral && afectado.CorteLaceracionPerforacion && afectado.EsguinceTension && afectado.HuesosRotos && afectado.LesionAplastamiento && afectado.Moreton && afectado.QuemaduraCalor && afectado.QuemadurasQuimicas)
                    {
                        <strong>Lesiones</strong>
                        <li>
                            <strong>Abrasion, rasguños</strong>
                            @if (afectado.AbrasionRasgunos)
                            {
                                <span>Sí</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </li>
                        <li>
                            <strong>Amputación</strong>
                            @if (afectado.Amputacion)
                            {
                                <span>Sí</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </li>
                        <li>
                            <strong>Hueso roto</strong>
                            @if (afectado.HuesosRotos)
                            {
                                <span>Sí</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </li>
                        <li>
                            <strong>Moretón</strong>
                            @if (afectado.Moreton)
                            {
                                <span>Sí</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </li>
                        <li>
                            <strong>Quemadura (calor)</strong>
                            @if (afectado.QuemaduraCalor)
                            {
                                <span>Sí</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </li>
                        <li>
                            <strong>Quemaduras (quimica)</strong>
                            @if (afectado.QuemadurasQuimicas)
                            {
                                <span>Sí</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </li>
                        <li>
                            <strong>Conmoción cerebral</strong>
                            @if (afectado.ConmocionCerebral)
                            {
                                <span>Sí</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </li>
                        <li>
                            <strong>Lesión por aplastamiento</strong>
                            @if (afectado.LesionAplastamiento)
                            {
                                <span>Sí</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </li>
                        <li>
                            <strong>Corte, laceración, perforación</strong>
                            @if (afectado.CorteLaceracionPerforacion)
                            {
                                <span>Sí</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </li>
                        <li>
                            <strong>Hernia</strong>
                            @if (afectado.Hernia)
                            {
                                <span>Sí</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </li>
                        <li>
                            <strong>Esguince, tensión</strong>
                            @if (afectado.EsguinceTension)
                            {
                                <span>Sí</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </li>
                    }
                    else
                    {
                        <strong>Lesiones:</strong>
                        <span>No existe ninguna lecion</span>
                    }
                    <li>
                    <strong>Actividad realizada:</strong>
                    @if (!string.IsNullOrEmpty(afectado.ActividadRealizada))
                    {
                        @afectado.ActividadRealizada
                    }
                    else
                    {
                        <span>No disponible</span>
                    }
                </li>
            }
        }
    </ul>
    <hr />
}
else
{
    <p>No hay afectados</p>
}

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
