@model IEnumerable<Buildoc.Models.IndexUsuarioViewModel>

@{
    ViewData["Title"] = "Index";
    var usuarioViewModel = new Buildoc.Models.UsuarioViewModel();
}

<h1>Usuarios</h1>

<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-lg">
    Crear usuario
</button>
<p>
    <a asp-action="Create">Crear Nuevo</a>
    <a asp-action="UsuarioDesactivado">Usuarios eliminados</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => usuario.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => usuario.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => usuario.Direccion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@usuario.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@usuario.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@usuario.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@* Modal Formulario *@
<div class="modal fade" id="modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalLabel">Crear Usuario</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="createUserForm" asp-action="Create">
                <div class="modal-body">
                    <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="@usuarioViewModel.Nombres" class="control-label"></label>
                        <input asp-for="@usuarioViewModel.Nombres" class="form-control" />
                        <span asp-validation-for="@usuarioViewModel.Nombres" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                       <label asp-for="@usuarioViewModel.Apellidos" class="control-label"></label>
                       <input asp-for="@usuarioViewModel.Apellidos" class="form-control" />
                       <span asp-validation-for="@usuarioViewModel.Apellidos" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="@usuarioViewModel.Direccion" class="control-label"></label>
                        <input asp-for="@usuarioViewModel.Direccion" class="form-control" />
                        <span asp-validation-for="@usuarioViewModel.Direccion" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="@usuarioViewModel.Cedula" class="control-label"></label>
                        <input asp-for="@usuarioViewModel.Cedula" class="form-control" />
                        <span asp-validation-for="@usuarioViewModel.Cedula" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="@usuarioViewModel.Telefono" class="control-label"></label>
                        <input asp-for="@usuarioViewModel.Telefono" class="form-control" />
                        <span asp-validation-for="@usuarioViewModel.Telefono" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="@usuarioViewModel.Eps" class="control-label"></label>
                        <input asp-for="@usuarioViewModel.Eps" class="form-control" />
                        <span asp-validation-for="@usuarioViewModel.Eps" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="@usuarioViewModel.Arl" class="control-label"></label>
                        <input asp-for="@usuarioViewModel.Arl" class="form-control" />
                        <span asp-validation-for="@usuarioViewModel.Arl" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="@usuarioViewModel.Email" class="control-label"></label>
                        <input asp-for="@usuarioViewModel.Email" class="form-control" />
                        <span asp-validation-for="@usuarioViewModel.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="@usuarioViewModel.Password" class="control-label"></label>
                        <input type="password" asp-for="@usuarioViewModel.Password" class="form-control" />
                        <span asp-validation-for="@usuarioViewModel.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="@usuarioViewModel.ConfirmPassword" class="control-label"></label>
                        <input type="password" asp-for="@usuarioViewModel.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="@usuarioViewModel.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="@usuarioViewModel.Role" class="control-label">Role</label>
                        <select asp-for="@usuarioViewModel.Role" class="form-control" id="rol">
                            <option value="Trabajador">Trabajador</option>
                            <option value="Coordinador">Coordinador</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="@usuarioViewModel.FechaNacimiento" class="control-label"></label>
                        <input asp-for="@usuarioViewModel.FechaNacimiento" class="form-control" />
                        <span asp-validation-for="@usuarioViewModel.FechaNacimiento" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="@usuarioViewModel.Profesion" class="control-label"></label>
                        <input asp-for="@usuarioViewModel.Profesion" class="form-control" />
                        <span asp-validation-for="@usuarioViewModel.Profesion" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="@usuarioViewModel.Municipio" class="control-label"></label>
                        <input asp-for="@usuarioViewModel.Municipio" class="form-control" />
                        <span asp-validation-for="@usuarioViewModel.Municipio" class="text-danger"></span>
                    </div>
                </div>
            </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" onclick="submitForm()" class="btn btn-primary">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function submitForm() {
        var form = document.getElementById('createUserForm');
        var formData = new FormData(form);

        // Realiza la solicitud AJAX para enviar el formulario
        fetch(form.action, {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (response.ok) {
                // Si la respuesta es exitosa, cierra el modal
                $('#modal-lg').modal('hide');
                // Opcional: Puedes realizar alguna acción adicional después del éxito
            } else {
                // Si hay errores, puedes manejarlos aquí
                alert('Hubo un problema al guardar los cambios.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Hubo un problema al procesar la solicitud.');
        });
    }
</script>
