@model Buildoc.Models.UsuarioDetailsViewModel

@{
    ViewData["Title"] = "Reactivar Usuario";
}

<h1>Reactivar Usuario</h1>

<h3>¿Está seguro que desea Reactivar este usuario?</h3>
<div class="container">
    <h4>Detalles del Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Municipio)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Eps)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Eps)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Arl)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Arl)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Profesion)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Profesion)
        </dd>
        <dt class="col-sm-3">
            Rol
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <!-- Agrega más campos según sea necesario -->
    </dl>
    <div class="text-center mt-4">
        <form asp-action="ReactivarUsuario">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-succes">Reactivar</button> |
            <a asp-action="UsuarioDesactivado" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>

</div>