@model IEnumerable<Buildoc.Models.IndexUsuarioViewModel>

@{
	ViewData["Title"] = "Index";
}

<h1>Usuarios desactivados</h1>
<a asp-action="Index" type="button" class="btn btn-outline-primary mb-3 mt-3">Volver</a>
<table id="example1" class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Nombre Completo</th>
			<th>@Html.DisplayNameFor(model => model.First().Email)</th>
			<th>@Html.DisplayNameFor(model => model.First().Role)</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var usuario in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => usuario.Nombres) @Html.DisplayFor(modelItem => usuario.Apellidos)
				</td>
				<td>
					@Html.DisplayFor(modelItem => usuario.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => usuario.Role)
				</td>

				<td>
					<a href="#" class="restore-item" data-url="@Url.Action("ReactivarUsuario", "Usuarios", new { id = usuario.Id })" data-title="Reactivar usuario" data-action="restore">Restaurar</a>
				</td>
			</tr>
		}
	</tbody>
</table>