@model Buildoc.Models.Proyecto

@{
    ViewData["Title"] = "Edit";
    var usuarios = ViewBag.Usuarios as IEnumerable<SelectListItem>;
    var residentesIds = Model.Residentes.Select(r => r.Id).ToHashSet();
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departamento" class="control-label"></label>
                <input asp-for="Departamento" class="form-control" readonly/>
                <span asp-validation-for="Departamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Municipio" class="control-label"></label>
                <input asp-for="Municipio" class="form-control" readonly />
                <span asp-validation-for="Municipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" required />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente" class="control-label"></label>
                <input asp-for="Cliente" class="form-control" />
                <span asp-validation-for="Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control">
                    <option value="En curso">En curso</option>
                    <option value="Finalizado">Finalizado</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Coordinador</label>
                <input type="text" class="form-control" value="@Model.Coordinador?.Nombres @Model.Coordinador?.Apellidos" readonly />
            </div>

            <div class="form-group">
                <label for="Residentes">Residentes</label>
                <div>
                    @if (usuarios != null)
                    {
                        @foreach (var usuario in usuarios)
                        {
                            <div class="form-check">
                                <input type="checkbox"
                                       class="form-check-input"
                                       id="residente_@usuario.Value"
                                       name="ResidentesIds"
                                       value="@usuario.Value"
                                @(residentesIds.Contains(usuario.Value) ? "checked" : "") />
                                <label class="form-check-label" for="residente_@usuario.Value">
                                    @usuario.Text
                                </label>
                            </div>
                        }
                    }
                </div>
            </div>

        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
